<div id="<%= dom_id project %>">

<h1 style = "text-align: center;">Project Name: </h1>
<h1 style = "text-align: center;"><%= project.title %></h1>
<p><br></p>
<div class="container border border-dark rounded-3 bg-primary text-white">
<h2 style = "text-align: center;">Description:</h2>
  <p><%= project.description %></p>
</div>



  <p>
    <strong>Title:</strong>
    <%= project.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

</div>
