<!DOCTYPE html>
<html>
  <head>
    <title>Cs3300project2022</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>  <!--iteration 4, Devise User Auth, step 3 prob 5 - https://github.com/Olenderpj/CS-3300_Iteration4_Instructions -->
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
